asgiref==3.2.10
Django==3.1
Pillow==9.3.0
pytz==2022.6
sqlparse==0.4.3
certifi==2020.12.5
chardet==4.0.0
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.5
django-session-timeout==0.1.0
idna==2.10
python-decouple==3.4
requests==2.25.1
six==1.15.0
urllib3==1.26.3